{% extends "base.html" %}
{% block title %}
personal{% endblock%}
<style>
        li{
                list-style: none;
                margin: 5px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
        }
        {% comment %} input[type='checkbox']{
                margin-right: 10px;
        } {% endcomment %}
        li.completed{
                text-decoration: line-through;

        }

{% block content %}
     
<div class='todo-container'>
        <div class='todo-header'>
                <h1>To-Do Pluse</h1>
        </div>
        <ul class='list-group '>
                {% for task in tasks %}
                <li class='list-group-item d-flex justify-content-between align-items-center'>
                        <input type='checkbox' id='checkbox'>
                        {% comment %} <input type='checkbox'> {% endcomment %}
                        {% if task.completed %}
                        <s>{{task.task}}</s>
                        {% else %}
                        {{task.task}}
                        {% endif %} 
                        



                        <a href="{% url 'delete_todo' task.id%}" class='btn btn-outline-primary btn-sm'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg>
                        </a>
                        {% comment %} <button onclick="location.href='{% url 'delete_todo' task.id %}'"><i class="bi bi-trash3-fill"></i></button> {% endcomment %}
                </li>
                {% endfor %}
        </ul>
        <a href="{% url 'add_todo' %}" class=" btn btn-primary mt-4 w-100"> Add a new task</a>
</div>
    




        
          
   
    
    
{% endblock %}
<script>
        checkbox=document.getElementById('checkbox').addEventListener('change', function() {
            if (this.checked) {
                this.parentNode.querySelector('s').style.display = 'inline';
            } else {
                this.parentNode.querySelector('s').style.display = 'none';
            }
        });
</script>

